@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --background: #eae6df;
  --backgroundDeeper: #d1d7db;
  --profileBackground: #e5e5e5;
  --navBar-background: #f0f2f5;
  --navbar-icon-color: #5c5c5c;
  --contact-hover-color: #e9edef;
  --unread-marker-background: #25d366;
  --date-color: #667781;
  --profile-cover-color: #ced7db;
  --white: #fff;
  --darkGrey: #3d3d3d;
  --tick-unread: #8696a0;
  --tick-read: #53bdeb;
  --message-bold: #3b4a54;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  background-color: #eae6df;
  background-image: linear-gradient(
    to bottom,
    var(--background),
    var(--backgroundDeeper)
  );
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 127px;
  background-color: #00a884;
}

.app {
  height: 100%;
  width: 100%;
  max-width: 1600px;
  display: flex;
  z-index: 2;
  background-color: #efeae2;
  overflow: auto;
}

.hover:hover {
  background-color: var(--backgroundDeeper);
}

.active {
  background-color: var(--navBar-background);
}

.profile-cover {
  background-color: var(--profile-cover-color);
}

.bold {
  font-weight: 600;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #bbb; /* Lighter color */
}

::-webkit-scrollbar-thumb:hover {
  background: #999; /* Slightly darker color on hover */
}

/* scrollbar */

/* animations */

@-webkit-keyframes scale-up-left {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}
@keyframes scale-up-left {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}

/* animations */
